
@{ ViewBag.Title = "Home Page"; }

<div class="row">
    <div class="col-md-3">
        <h1>Mockups</h1>
        <ul>
            <li><a asp-controller="Quiz" asp-action="QuizQuestion">Quiz</a></li>
            <li><a asp-controller="Quiz" asp-action="QuizResult">Quiz results</a></li>
        </ul>
    </div>
</div>