@{
    ViewData["Title"] = "Home Page";
}
<br/>
<h1>Multi-staged form</h1>
<ul>
    <li><a asp-controller="Account" asp-action="ResetPassword">Reset Password</a></li>
    <li><a asp-controller="Account" asp-action="SignUpFirst">Sign Up</a></li>
</ul>